@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RPGCharacterBuilderMVC.Models.Armor.ArmorCreateModel

<h1>Create</h1>

<div>
    <h4>Magic Item</h4>
    <hr />

<div class="container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label for="CharacterId">Character Id</label>
            <input type="number" class="form-control" name="Character Id" placeholder="i.e. 1" />
        </div>
        <div class="form-group">
            <label for="Name">Magic Item Name</label>
            <input type="text" class="form-control" name="Name" placeholder="i.e. Golden Order Seal" />
        </div>
        <div class="form-group">
            <label for="Type">Magic Item Type</label>
            <input type="text" class="form-control" name="Magic Item Type" placeholder="i.e. Sacred Seal, Glintstone Staffs...etc. " />
        </div>
        <div class="form-group">
            <label for="MagicDamageIncreasedBy">Magic Damage Increased By </label>
            <input type="number" class="form-control" name="Magic Damage Increased By" placeholder="i.e. 20" />
        </div>
        <div class="form-group">
            <label for="Weight">Magic Item Weight</label>
            <input type="number" class="form-control" name="Magic Item Weight" placeholder="i.e. 10" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">Create Magic Item</button>
    </form>
</div>